body {
    background-color:rgb(35, 36, 36);
}

h3 {
    display: inline-block;
    flex-direction: row;
    background-color: black;
    color: orangered;
    border: whitesmoke;
    border-radius: 12px;
    border-color:whitesmoke;
    border-style:solid;
    
}
 button {
    display: flex;
    flex-direction: row;
    background-color: black;
    color: orangered;
    border: whitesmoke;
    border-radius: 12px;
    border-color:whitesmoke;
    border-style:solid 
} 

#logout-button {
    background-color: black;
    color: orangered;
    border: whitesmoke;
    border-radius: 12px;
    border-color:whitesmoke;
    border-style:solid 
} 

#XMR-monthly-button{
   
   justify-content: center;
   background-color: black;
   color: orangered;
   border: whitesmoke;
   border-radius: 12px;
   border-color:whitesmoke;
   border-style:solid
}



